// Form Elements
$input-height: rem(48);
$input-paddings: rem(12px);
$input-color: $neutral-90;

$input-border-color: #cdc7fc !default;
$input-border-color-hover: #5a46f5ff !default;
$input-bg-color-hover: #f5f3ffff !default;
$input-bg-color: #f8f6ff !default;
