/**
  * @tokens Border Radius
  */
$border-radius-full: 50%;
$border-radius-xlarge: rem(16);
$border-radius-large: rem(12);
$border-radius-medium-extra: rem(10);
$border-radius-medium: rem(8);
$border-radius-small: rem(6);

/**
  * @tokens Spacings
  */
$spacing-1: rem(8);
$spacing-2: rem(16);
$spacing-3: rem(24);
